*DS_Store
*~

# Ignore all files in the data/output directory.
data/output/

# Ignore binary (mex) files, so that each user can compile/use them independently.
src/External_Code/Geodesics/*.mex*

# Ignore some demos
src/demo_ensemble_fmaps.m
*.asv